/*body styling*/
body{
    margin:0 !important;
    padding:0;
    overflow-x:hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#999999;
}
/*heder*/
header{
    font-size:12px;
    font-weight:bold;
    color:black
}
/*upper header*/
.header1{
    border: 1px solid #999999;
    padding:15px;
    padding-left: 50px;
    visibility:visible;
}

/*Left section of upper header*/
.header-left{
    border-right: 1px solid #999999;
    padding:15px 15px 15px 0;
    margin:0px;
}

/*right section of upper header*/
.header-right{
    padding :20px 15px 15px 20px;   
    margin-right:4vw;
    float:right;
}
/*rightmost section of upper header*/
.header-right2{
    float:right;
    padding :20px 15px 15px 10px;  
    margin-top:-20px; 
    border-left:1px solid #999999;
    border-right:1px solid #999999;
}
/*to apply float right on any element*/
.right{
    float:right;
}
/*hiding the nav*/
.header2 .right{
    display:none;
}

#menu{
    height:100% !important;
    width:0px;
    bottom: 50%;
    overflow: hidden;
    z-index: 1;
    transition:0.5s; 
    margin-bottom: -101%;
    padding-bottom: 101%; 
}
/*grey icons styling*/
.grey-icons{
    color:#999999;
    padding:0 5px;
}
/*logo*/
.logo{
    font-size:20px;
    float:left;
}

/*header 2 styling start*/
.header2{
    margin:10px 30px 30px 30px;
    padding:0 20px;
}

/*navbar in the header 2*/
.nav{
    text-transform: uppercase;
    padding:0 2vw;
    float:right;
}
/*list styling in navbar*/
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.nav li{
    float: left;
  }
  
.nav li a {
    display: block;
    padding: 0 8px;
    text-decoration:none;
    color:black;
}
.nav li a:active{
    color:rgb(0, 195, 255);
}
.nav li a:hover{
    color:rgb(0,195,255);
}

/*banner section*/
#banner{
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
}

#banner .bottom-left {
    position: absolute;
    top: 5%; /* adjust as desired */
    left: 10%; /* adjust as desired */
    font-family: Helvetica Neue;
    font-weight: lighter;
    font-size: 5vw;   

}

/*styling for section*/
.sections{
    margin-bottom: 300px;
}
.sections h1,h4{    
    font-weight: 100;
    text-align:center;
    margin:60px 0 10px;
}

#row{
    margin:auto;
    width:70%;
    justify-content: center;
    display:flex;
    flex-direction: row;
}
#row1{
    display:flex;
    flex-direction: row;
    padding:10px;
    text-align: center;
    
}
.section-heading{
    margin:auto;
    width:50%;
    text-align:center;
    margin-bottom: 20px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 50%;
}
  
div.gallery:hover {
    border: 1px solid rgb(175, 174, 174);
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px 5px;
    text-align: center;
    color:rgb(75, 73, 73);
}
div.desc p{
    font-size:12px;
    color:#999;
}

.projects div.gallery{
    border:none;
}

.projects div.gallery img{
    height:80%;
    border-radius:5px;
}

/*Categories*/
.projects .categories{
    justify-content: center;
    align-self:center;
    display:flex;
    flex-wrap: wrap;
    flex:50%;
}
.categories > div{
  
  margin: 2px 1px;
  text-align: center;
  line-height: 25px;

}
.categories a{
    text-decoration: none;
    color:#999999;
    padding:0 10px;
}

/*testimonials*/
.testimonials{
    background-image:linear-gradient(rgba(40, 171, 211, 0.5),rgba(40, 171, 211, 0.50)),url("xn3.png");
    width: 100%;    
    background-size: cover;
    color: white;    
    display:flex;
    flex-direction: row;    
}

.testimonials .testimonial{
	height:auto;
	padding:2%;
    background-color: #fff;
    color:#999999;
    margin:90px 40px;   
    display:flex;
    flex-direction:row;
}
.testimonial .left-column{
  flex:25%;
  margin-right:2%;

}
.textimonial .right-column{
    flex:75%;    
}
.right-column .name{
    color:rgb(70, 70, 70);
    font-size:110%;
    margin:10px;
}

/*newsletter*/
.newsletter {
    display: flex;
    flex-direction: row;   
    align-content: center; 
}

/*newsletter input*/
.newsletter input{
    border-radius:20px;
    height:20px;
    width:80%;
    padding:10px;
    border:none;
    margin:10px
}

/*button in the newsletter*/
.newsletter button{
    background-color: rgb(0, 195, 255);
    color:white;
    border-radius:20px;
    width:100px;
    height:40px;
    padding:10px;
    border:none;
    margin-left:10px;
}

/*link in the newsletter*/
.newsletter a{
    text-decoration: none;
    flex-direction: column;
    color:#535353;
}
/*list and paragraph in newsletter*/
.newsletter p,li{
    color:#535353;
}

 /*newsletter sections*/ 
.flex-item-left {
    background-color: rgb(37, 37, 37);
    padding: 20px;
    flex: 40%;
    padding-top:30px;

}
  
.flex-item-right {
    background-color: rgb(37, 37, 37);
    padding: 10px;
    flex: 20%;
    padding-top:30px;
    padding-left: 30px;
}
.flex-item-right1{
    background-color: rgb(37, 37, 37);
    padding: 10px;
    flex: 20%;
    padding-top:30px;
    padding-left: 30px;
    padding-bottom:100px;
}

/*instagram feed section in newsletter*/
.instafeed{
    display:flex;
    flex-direction:row;
    align-content: center;
    background-color: transparent;
    width:70%;
}

/*image styling in instagram feed section*/
.instafeed img{
    margin:2%;
    width:29%;
    height:70px}

/*statisitics*/
.stats{
    background:rgb(37, 37, 37);
    justify-content: center;
    font-size:12px;
    text-align: center;
    padding:50px 0;
    display:none;
    flex-direction: column;
    flex:70%;

}

/*content statistics section*/
.stats .content{
    font-weight:100;
    text-align: start;
    margin:0 30px;
}
.stats h1{
    font-weight: 100;
}

/*black button styling*/
.black-btn{
    border:1px solid #fff;
    background:transparent;
    color:#fff;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}
/*blue button styling*/
.blue-btn{
    border:1px solid #fff;
    background:rgb(0, 195, 255);
    color:#fff;
    padding:10px 20px;
    border-radius:5px;
    display:none;
    cursor:pointer;
}
/*white button styling*/
.white-btn{
    border:1px solid rgb(37, 37, 37);
    background:#fff;
    color:rgb(37, 37, 37);
    padding:10px 22px;
    border-radius:5px;
    font-weight:bolder;
    margin-top:40px;
    cursor:pointer;
}

/*circle class in statistics*/
.circle {
    border-radius: 50%;
    background: transparent;
    border: 3px solid white;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff
}

/*Outer circle to show the progress*/
.c2 {
    width: 90px;
    height: 90px; 
    background:transparent;
    transform: rotate(-45deg);
    border-top-color: transparent;
}

/*Inner circle*/
.c3 {
    width: 50px;
    height: 50px;
    border-color: rgb(0, 195, 255);
    transform: rotate(45deg);
    background: rgb(0, 195, 255);
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
/* Dropdown button */
.dropdown .dropbtn {
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    color:rgb(37, 37, 37);
    display: block;
    text-align: left;
  }
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    color:rgb(0, 195, 255);
  }
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/*Sidebar in mobile view*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
/*Link Inside the sidebar */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #373737;
    display: block;
    transition: 0.3s;
}

/*Sidebar links on hover*/
.sidebar a:hover {
    color:rgb(0,195,255);
}

/*button used to close sidebar*/
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*button to open sidebar*/
.openbtn {
    font-size: 20px;
    cursor: pointer;
    color:rgb(0,195,255);
    padding: 0px;
    border: none;
    background:#fff;
    float:right;
    display:none;
}

/*button on hover*/
.openbtn:hover {
    color: #373737;
}
 
/*transition*/

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*Footer section Styling*/

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(37, 37, 37);
    color: #999;
    text-align: center;
    padding:1%;
}

/*paragraph in the footer*/
  footer p{
      float:left;
      font-size: 12px;
}

/*footer icon styling*/
  footer .right i{
      background-color: rgb(0, 0, 0);
      width:30px;
      padding:10px
  }
  
.hide{
    display:contents;
    
}
/*Media Queries*/
@media screen and (max-width:600px){
    .header1{display:none;}
    .nav{display:none;}
    div.gallery{width:100%;}
    .sections #row{flex-direction:column;}
    .testimonials{flex-direction:column}
    .hide{display: none;}
    .newsletter{flex-direction: column;}
    #row .categories{flex-direction: row;}
    .stats{display:flex;}
    .blue-btn{display:block;}
    .header2 .right{display:block;}
    .openbtn{display:inline-block;}
    .section-heading{width:70%;text-align: justify;}
    

}
